{% extends 'poolservice/base.html' %}
{% block title %}
{{title}}
{% endblock title %}

{% block body%}
<div class="container">
    <h1>{{title}}</h1>
<p>Наш проект - это удобная база данных, созданная специально для тех, кто заботится о своем бассейне. Мы собираем записи сервисных операций по уходу за бассейном, чтобы облегчить вам жизнь и помочь поддерживать ваш бассейн в идеальном состоянии.</p>
<p>У нас вы можете сохранить информацию о проведенных обслуживаниях, промывке фильтров, исправлении поломок и других сервисных операциях, чтобы всегда быть в курсе состояния вашего бассейна.</p>
{% comment %}
<p>Также вы сможете установить регулярные напоминания о необходимых процедурах обслуживания, чтобы не пропустить ни одного важного момента.</p>
{% endcomment %}
<p>Наш проект разработан для того, чтобы сделать управление вашим бассейном легким и удобным. Мы стремимся помочь вам сэкономить время и деньги, предоставляя доступ к всей необходимой информации в одном месте. Надеемся, что наш сервис станет надежным помощником для вас в уходе за вашим бассейном.</p>

</div>
{% endblock body %}

{% block footermenu %}
{% endblock footermenu %}