{% extends 'poolservice/base.html' %}
{% block title %}
{{title}}
{% endblock title %}

{% block body%}
<div class="container">
<h1>{{title}}</h1>
<h3>Разработка проекта PoolService</h3>
    <div>
        <h4>Список задач для разработки этого проекта</h4>
        <li><input type="checkbox" checked> Исправить ошибку маршрутизации ссылки admin</li>
        <li><input type="checkbox" checked> Почистить, упорядочить код, сделать commit on GitHub</li>
        <li><input type="checkbox"> Добавить навигацию в странице просмотра записи сервисного выезда</li>
        <li><input type="checkbox"> Написать текст на страницу "О проекте"</li>
        <li><input type="checkbox"> Создать страницу "Пользовательское соглашение"</li>
        <li><input type="checkbox"> Поработать с дизайном верхнего меню(не нравиться оно мне)</li>
        <li><input type="checkbox"> Поменять главную страницу на приветсвие, лого и т.п.</li>
        <li><input type="checkbox"> Сделать множественный выбор по полю: "Выполнены работы"</li>
        <li><input type="checkbox"> Доработать CRUD только для связанных с User обьектами PoolService,Pool</li>
        <li><input type="checkbox"> Разработать расширение Статистика с графиками</li>
        <li><input type="checkbox"> Разработать множественный выбор по полю: "Добавлены реагенты"</li>
    </div>
</div>
{% endblock body %}