{% extends 'poolservice/base.html' %}
{% load poolservicetags %}

{% block title %}
{{title}}
{% endblock title %}


{% block body %}
{% if not logs %}
<p><span class="fs-5"> Журнал пуст, записей нет... </span></p>
<p> Для заполнения журнала необходимо создать объект обслуживания
    <a href="{% url 'new_pool' %}">{% include 'poolservice/icons/add_pool_icon.html' %} Новый бассейн</a></p>
<p>Когда ваш бассейн будет записан в базе проекта, вы сможете добавить
    <a href="{% url 'new_log' %}">{% include 'poolservice/icons/add_service_icon.html' %} Новую запись</a> в журнал</p>
<p>Если в списке выбора реагентов нет того который вы используете в вашем басеейне добавьте
    <a href="{% url 'add_reagent_name' %}">{% include 'poolservice/icons/add_reagent_icon.html' %} Новый реагент</a></p>
{% else %}
    {% for l in logs %}
        <span class="fs-5"><a href="{{l.pool.get_absolute_url}}"
                              class="d-flex align-items-center link-body-emphasis text-decoration-none">{{l.pool}}</a></span>
            <span>{{l.time_create|date}} {{l.title}}</span><br>
            {% if l.water_cond %}<span>{{l.water_cond.capitalize}}</span><br>{% endif %}
            {% if l.PH %} Ph:<span class="badge bg-success-subtle text-success-emphasis rounded-pill">{{l.PH}}</span>{% endif %}
            {% if l.RX %} Redox:<span class="badge bg-warning-subtle text-warning-emphasis rounded-pill">{{l.RX}}</span>{% endif %}
            {% if l.CL %} Cl:<span class="badge bg-info-subtle text-info-emphasis rounded-pill">{{l.CL}}</span>{% endif %}
            {% if l.T %} Т°C:<span class="badge bg-danger-subtle text-danger-emphasis rounded-pill">{{l.T}}</span>{% endif %}
            {% if l.PH or l.RX or l.CL or l.T %}<br>{% endif %}
            {% if l.reagents %}
            <small>{{l.reagents|linebreaksbr}}</small><br>
            {% endif %}
                {% for r in rs_book %}
                    {% if r.poolservice == l %}
                    <small>{{r}}</small><br>
                    {% endif %}
                {% endfor %}


    {% if request.user.is_authenticated %}
    <div class="container" align="center">
        <div align="right" class="container">
            <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill"><a href="{% url 'log' pk=l.pk%}" class="nav-link">Подробно</a></span>
        </div>
    </div>
    {% endif %}
    {% endfor%}
    {% endif %}
<br>
{% endblock body %}