{% extends 'poolservice/base.html' %}
{% load poolservicetags %}

{% block title %}
{{title}}
{% endblock title %}

{% block body %}
<div class="container">
<h1>{{pool.title}}</h1>
{% if pool.photo %}
<img src="{{pool.photo.url}}" height="200" width="350">
{% endif %}<br>
    {% if pool.volume %}
        <span class="badge bg-light-subtle text-light-emphasis rounded-pill">Объем:</span>
    <p>🧊 {{pool.volume}} куб.м.</p>
    {% endif %}
    {% if pool.place %}
        <span class="badge bg-light-subtle text-light-emphasis rounded-pill">Место расположения:</span><br>
    <p>🚚 {{pool.place|linebreaksbr}}</p>
    {% endif %}
    {% if pool.equipment %}
        <span class="badge bg-light-subtle text-light-emphasis rounded-pill">Комплектация:</span><br>
        <p>🛠️ {{pool.equipment|linebreaksbr}}</p>
    {% endif %}
    {% if pool.description %}
        <span class="badge bg-light-subtle text-light-emphasis rounded-pill">Описание:</span><br>
        <p>📋 {{pool.description|linebreaksbr}}</p>
    {% endif %}
    {% if pool.year_create %}
    <span class="badge bg-light-subtle text-light-emphasis rounded-pill">Год постройки:</span>
            <p>📆 {{pool.year_create}} г.</p>
    {% endif %}
    <span class="badge bg-light-subtle text-light-emphasis rounded-pill">Контакты:</span><br>
            {% if pool.owner %}
            <p>🧑🏻‍ {{pool.owner}}</p>
            {% endif %}
            {% if pool.phone %}
            <p>☎️ {{pool.phone}}</p>
            {% endif %}
            {% if pool.email %}
            <p>📧 <a href="mailto:{{pool.email}}">{{pool.email}}</a></p>
            {% endif %}
    {% if 'new_log' in request.META.HTTP_REFERER %}
                <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill"><a href="{% url 'home' %}" class="nav-link">Назад</a></span>
                {% elif 'pool_logs' in request.META.HTTP_REFERER %}
                <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill"><a onclick="javascript:history.back();" href="#"  class="nav-link">Назад</a></span>
                {% else %}
                <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill"><a  href="{% url 'home' %}" class="nav-link">Назад</a></span>
    {% endif %}
    {% if request.user == pool.author  or request.user.is_superuser %}
                <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill"><a href="{% url 'pool_update' pool.slug %}" class="nav-link">Изменить</a></span>
                <span class="badge bg-danger-subtle text-danger-emphasis rounded-pill"><a href="{% url 'pool_delete' pool.id %}" class="nav-link">Удалить</a></span>
    {% endif %}
</div>
<br>
<div class="container">
    <h4>Таблица сервисных операций по бассейну {{pool.title}}</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Дата</th>
          <th scope="col">Ph</th>
          <th scope="col">Cl/Rx</th>
          <th scope="col">Т°C</th>
          <th scope="col">Реагенты</th>
        </tr>
      </thead>
        <tbody>
        {% for l in logs %}
        <tr>
            <td>
                <a class="nav-link" href="{% url 'log' pk=l.pk%}">🔍 {% if l.works %} 🛠️ {% endif %}
                    {% if l.comment %}💬 {% endif %}</a>
                <small>{{ l.time_create|date:"jMY"}}</small>
            </td>
            <td>{% if l.PH %}{{ l.PH }}{% endif %}</td>
            <td>{% if l.CL %}{{ l.CL }}{% endif %}<br>{% if l.RX %}{{ l.RX }}{% endif %}</td>
            <td>{% if l.T %}{{ l.T }}{% endif %}</td>
            <td><small>{{l.reagents|linebreaksbr}}</small></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


<div class="row mt-3 pt-3">

        <div class="col-md-8">
            <div>
                <canvas id="myChart" ></canvas>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
              const ctx = document.getElementById('myChart');

              new Chart(ctx, {
                data: {
                  labels: [{% for d in logs %} '{{d.time_create|date:"jM"}}',{% endfor %}],
                  datasets: [{
                    type: 'line',
                    label: 'PH',
                    data: [{% for d in logs %} {% get_dot d.PH %},{% endfor %}],
                    fill: true,
                    borderColor: 'rgb(75, 192, 0)',
                    backgroundColor: 'rgba(75, 192, 0, 0.3)',
                    tension: 0.2,
                    order: 2,
                  },
                   {
                    type: 'line',
                    label: 'Cl',
                    data: [{% for d in logs %} {% get_dot d.CL %},{% endfor %}],
                    fill: true,
                    borderColor: 'rgb(255, 0, 0)',
                    backgroundColor: 'rgba(255, 0, 0, 0.3)',
                    tension: 0.2,
                    order: 1,
                  },
                    ]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: false,
                    },
                  }
                }
              });
            </script>

        </div>
</div>

</div>
{% endblock body %}