{% extends 'poolservice/base.html' %}
{% load blogtags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous">
    </script>
</head>

<body>


{% block appmenu %}
<header class="container border-bottom">
<nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="{% url 'new_post' %}" class="nav-link link-body-emphasis px-2">Добавить сообщение</a></li>
      </ul>
    </div>
</nav>
</header>
{% endblock appmenu %}




      <!--Пагинация начало-->
<div class="row">
    <div class="col-4"></div>
<div class="col-4 container"  align="center">
      {% if page_obj.has_other_pages %}
      <nav aria-label="...">
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}">&lt</a>
          </li>
          {% endif %}
          {% for p in paginator.page_range %}
          {% if page_obj.number == p %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ p }}</a>
          </li>
          {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
          <li class="page-item">
            <a class="page-link" href="?page={{p}}">{{ p }}</a>
          </li>
          {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}">&gt</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
</div>
    <div class="col-4"></div>
</div>


      <!--Пагинация конец-->
{% block body %}
{% endblock body %}

      <!--Пагинация начало-->
<div class="row">
    <div class="col-4"></div>
<div class="col-4 container"  align="center">
      {% if page_obj.has_other_pages %}
      <nav aria-label="...">
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}">&lt</a>
          </li>
          {% endif %}
          {% for p in paginator.page_range %}
          {% if page_obj.number == p %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ p }}</a>
          </li>
          {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
          <li class="page-item">
            <a class="page-link" href="?page={{p}}">{{ p }}</a>
          </li>
          {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}">&gt</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
</div>
    <div class="col-4"></div>
</div>
      <!--Пагинация конец-->


{% block footermenu %}
{% endblock footermenu %}

</body>
</html>