{% extends 'blog/blog_base.html' %}
{% block title %}
{{title}}
{% endblock title %}


{% block body %}
<div class="container">
    <h1>{{title}}</h1>
<form action="" method="post">
    {% csrf_token %} <!-- передается специальный ключ для защиты формы от подделки -->
    <div class="col-6 col-md">{{form.non_field_errors}}</div>
    <!--{{ form.as_p }}   as_p() - Метод класса Forms для отображения всех полей через -->
        {% for f in form %}
        <p>
            {% if f.label == 'Опубликовано' or f.label == 'Автор сообщения' %}
            {{ f.label }}
            {% else %}
            <label class="nav-item" for="{{ f.id_for_label }}">{{f.label}}:</label><br>{{f}}
            {% endif %}
        </p>
        <div class="col-6 col-md">{{f.errors}}</div>
        {% endfor %}
    <div class="container" align="right">
        <button type="submit" class="btn btn-primary">Обновить</button>
    </div>
</form>
</div>
<br>
{% endblock body %}